
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  header:hover {
    background-color: #525b2f;
  }
  
  header h1 {
    margin: 0;
    font-size: 2em;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  nav a:hover {
    color: #007bff;
  }
  
  main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
  }
  
  #stopwatch {
    text-align: center;
    margin: 20px 0;
  }
  
  #stopwatch-display {
    font-size: 2.5em;
    font-weight: bold;
    margin: 20px 0;
    color: #333;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #stopwatch-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  #stopwatch-controls button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #start-stopwatch {
    background-color: #28a745;
    color: #fff;
  }
  
  #start-stopwatch:hover {
    background-color: #218838;
  }
  
  #stop-stopwatch {
    background-color: #dc3545;
    color: #fff;
  }
  
  #stop-stopwatch:hover {
    background-color: #c82333;
  }
  
  #reset-stopwatch {
    background-color: #ffc107;
    color: #333;
  }
  
  #reset-stopwatch:hover {
    background-color: #e0a800;
  }
  
  .chart-container {
    margin-top: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  footer:hover {
    background-color: #444;
  }
  
  footer a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
  }
  
  footer a:hover {
    color: #0056b3;
    transform: translateY(-2px);
  }