<div class="login-container">
  <div class="login-box">
    <h2>Login</h2>
    <form *ngIf="!currentUser" (ngSubmit)="onLoginSubmit()" [formGroup]="loginForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          required
        />
      </div>
      <button type="submit" class="btn">Login</button>
    </form>

    <div *ngIf="currentUser" class="user-info">
      <span>Welcome, {{ currentUser.name }}!</span>
      <button class="btn" (click)="logout()">Logout</button>
    </div>

    <div class="signup-toggle" (click)="toggleSignUp()" *ngIf="!currentUser">
      Don't have an account? <span>Sign Up</span>
    </div>

    <div class="signup-box" *ngIf="showSignUp && !currentUser">
      <h2>Sign Up</h2>
      <form (ngSubmit)="onSignUpSubmit()" [formGroup]="signUpForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            formControlName="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="signup-email">Email</label>
          <input
            type="email"
            id="signup-email"
            name="signup-email"
            formControlName="email"
            required
          />
        </div>
        <div class="form-group">
          <label for="signup-password">Password</label>
          <input
            type="password"
            id="signup-password"
            name="signup-password"
            formControlName="password"
            required
          />
        </div>
        <button type="submit" class="btn">Sign Up</button>
      </form>
    </div>

    <div class="success-message" *ngIf="showSuccessMessage">
      {{ successMessage }}
    </div>
  </div>
</div>